@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');
@import "./base/bases";
@import "./utils/variable";
@import "./utils/maps";
@import "./utils/mixin";


header{
    display: flex;
    flex-direction: column; 
   
}

.form{
    @include flex-centre;
    background-color: #eaeaea;
    height: 50px;
    box-shadow: inset 0em 0.3em 0.4rem #cfcfcf;
    &__input{
        @include flex-centre;
    }
    &__input input{
        border:none;
        font-size: 0.875rem;/*14px*/
        color: #4b4b4b;
        background-color: #eaeaea;
        font-weight: bold;
        width: 133px;
        height: 36%;
    }
    &__icon{
        margin-right: 17px;
    }
    &__icon p{
        font-size: 1.25rem;/*20px*/
    }
}
#logo{
    width: 100%;
    height: 65px;
    @include padding-top-bottom(log);
    @include flex-centre;
    img {
        width: 166px;
        height: 31px;
        /*width: 45%;
        height: 86%;*/
    }
}
.discover{
    a{
        text-decoration: none;
        color:white;
    }
    @include flex-centre;
    flex-direction: column;
    text-align: center;
    background-color: $color-background;
    @include padding-top-bottom(discover);
    
    h1{
        margin: 0px;
    }
    &__btn{
        width: 218px;
        background: linear-gradient($color-secondary, $color-primary);
        border-radius: 25px;
        box-shadow:5px 5px 20px #cfcfcf;
        position: relative;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
            border-radius: 25px;
            box-shadow: 5px 5px 20px #cfcfcf;
            opacity: 0;
            z-index: -1;
            transition: opacity box-shadow 250ms;
        }
    
        &:hover {
            &::after{
                opacity: 1;
                @include box-shadow();
            }
        }
        
    }
}
.blocF{
    @include flex-centre;
    &__function{
        width: 1200px;
    
        @include padding-top-bottom(function);
        @media (max-width:991px){
            width: 100%;
            
        }
        &__title{
            margin: 0px;
            width: 100%;
            padding-left: 7%;
        }
        &__list{ 
            @include flex-centre;
            flex-direction: row;
            flex-wrap: wrap;
            @media (max-width:765px) {
                flex-direction: column;
            }
        &__type{
            @include flex-centre;
    
            @media (max-width:765px) {
                width: 85%;
            }
            > p{
                text-align: center;
                color: white;
                position:relative;
                left:14px;
                padding: 7px 11px;
                border-radius: 21px;
                background-color: $color-primary;
            }
            &__name-icon{
                @include flex-centre;
                margin-top: 12px;
                margin-bottom: 12px;
                @include padding-top-bottom(type); 
                background-color: $color-background;
                border-radius: 16px;
                box-shadow: 5px 5px 20px #e6e6e6;
                width: 100%;
                cursor: pointer;
                &:hover{
                    @include box-shadow(#e6e6e6, 30%);
                }
                span{
                    color:#7e7e7e;
                    padding-right: 25px;
                    padding-left: 34px;
                    &:hover{
                        color:$color-primary;
                    }
                }
                p{
                    width: 250px;
                    font-weight: bold;
                    margin:0px;
                }
            }
        }
        }
        
    }
}
.blocR{
    background-color: $color-background;
    @include flex-centre;
    &__resto{
        width: 1200px;
        @include flex-centre;
        flex-direction: column;
        @include padding-top-bottom (resto);

        @media (max-width:991px){
            width: 100%;
            
        }
        a{
            text-decoration: none;
            color:black;
        }
        
        &__title{
        width: 100%;
        margin-left: 0px;
        padding-left: 7%;
        
        }
        &__list{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;

            &__type{
                background-color: white;
                width: 45%;
                margin: 18px;
                border-radius: 15px;
                box-shadow: 5px 5px 20px #e6e6e6;
                &:hover{
                    @include box-shadow(#e6e6e6, 30%)
                }
                @media (max-width:765px){
                    width: 85%;
                    
                }
                &__img{
                    position: relative;
                }

                &__img p{
                position: absolute;
                z-index: 2;
                background-color: $color-tertiary;
                color:darken($color-tertiary, 67%);
                /*color: #008766;*/
                left: 70%;
                top: 0px;
                padding: 9px 12px 8px 12px;
                border-radius: 2px;
                }
                &__info{
                    display: flex;
                    justify-content: space-between;
                    padding-right: 6.9%;
                    padding-left: 3.9%;
                    @include padding-top-bottom(info);
                    
                    &__title{
                        p{
                        margin: 7px;
                        }
                        &__name p{
                            font-weight: bolder;
                        }
                    }
                    &__like{

                       @include flex-centre; 
                       position: relative;
                       p{font-size: 22.5px;
                        
                        }
                       span  {
                        position:absolute;
                        top:-5px;
                        z-index: 2;
                        color:transparent;
                        cursor: pointer;
                        p{
                            font-size: 25px;
                        }
                        &:hover{
                            transform: scaleY(1);
                            animation-name: progress-bar;
                            animation-duration: 500ms;
                            background: linear-gradient(to right bottom, $color-primary, $color-secondary);
                            -webkit-background-clip: text;
                                    background-clip:text;

                        }
 
                       }
                       @keyframes progress-bar {
                        0% {
                            transform: scaleY(0);
                        }
                        17% {
                            transform: scaleY(.18);
                        }
                        24% {
                            transform: scaleY(.4);
                        }
                        46% {
                            transform: scaleY(.81);
                        }
                        100% {
                            transform: scaleY(1);
                        }
                    }
                       
                    }

        
                }
            }       
        }
        img{
            width: 100%;
            height: 177px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }
}
   
.footer{
    background-color: darken($color-shadow-footer, 74%);
    color:white;
    @include padding-top-bottom(footer);
    @include flex-centre;
    a{
        text-decoration: none;
        color: white;
    }
    h1{
        font-family:'Shrikhand', sans-serif;
        margin:0px;
        padding-bottom: 14px;
        &:hover{
            text-decoration: underline;
        }
    }
    &__bloc{
        margin-left: 7%;
        width: 1200px;
        @include flex-centre;
        flex-direction: column;
        &__title{
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
        &__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            @media (max-width:765px) {
                flex-direction: column;
            }
            &__element{
                display: flex;
                align-items: center;
                width: 100%;
                &__icon{
                    margin-right: 11px;
                    font-size: 13px;
                }
                &__name {
                    @include padding-top-bottom(nameFooter);
                    p{
                        margin: 0px;
                    }
                }
                
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

 
