.footer{
    background-color: darken($color-shadow-footer, 74%);
    color:white;
    @include padding-top-bottom(footer);
    @include flex-centre;
    a{
        text-decoration: none;
        color: white;
    }
    h2{
        font-family:'Shrikhand', sans-serif;
        margin:0px;
        padding-bottom: 14px;
        &:hover{
            text-decoration: underline;
        }
    }
    &__bloc{
        margin-left: 7%;
        width: 1200px;
        @include flex-centre;
        flex-direction: column;
        &__title{
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
        &__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            @media (max-width:765px) {
                flex-direction: column;
            }
            &__element{
                display: flex;
                align-items: center;
                width: 100%;
                &__icon{
                    margin-right: 11px;
                    font-size: 13px;
                }
                &__name {
                    @include padding-top-bottom(nameFooter);
                    p{
                        margin: 0px;
                    }
                }
                
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}