*
{
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
html{
    font-size: 16px;
}

body
{
    max-width: 2000px;
    margin: auto;
}
h3{
    font-size: 1rem;
    font-weight: bold;
}